//- Andelson Lopez
//- Main template

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Andelson Lopez - #{title}
    link( rel='stylesheet', href='/css/index.css')
    link(rel='icon', type='image/x-icon', href='https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css')
  body
    //- This is how we include different parts of other views to this one
    include ../partials/navbar.pug

    block content

    include ../partials/footer.pug

    button(onclick="volverArriba()")#volver-arriba Volver arriba

    script(src="/js/index.js")
    script(src="/js/getUrl.js")
