// Andelson Lopez
// Main template

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Andelson Lopez - #{title}
  body
    include ../partials/navbar.pug
    block content
    block foot
      #footer 
        p Made by Andelson Lopez