extends template/main.pug

block content
    link(rel='stylesheet',href='css/technologies.css')
    div#bigFatherDiv
        .principalTitle Technologies
        br 
        br 

        p This is a list of technologies that I have experienced with. I'm been practicing with them for a long time and I really feel comfortable with them.

        br 

        p I probably will put some of new technologies for me that I'm interesting in but is not something serious at all (or not).

        br 

        .listOfTech 
            p.techTitle Front-end and Back-end Technologies
            br
            div.technology
                
                div
                    div.iconText
                        i.devicon-javascript-plain.colored
                        span Javascript

                    div.iconText
                        i.devicon-typescript-plain.colored
                        span Typescript

                    div.iconText
                        i.devicon-html5-plain.colored
                        span Html
                    
                    div.iconText
                        i.devicon-css3-plain.colored
                        span CSS

                    div.iconText
                        i.devicon-postgresql-plain.colored
                        span Postgresql

                    div.iconTextx
                        i.devicon-mongodb-plain.colored
                        span MongoDB

                div
                    div.iconText
                        i.devicon-csharp-line.colored
                        span C#

                    div.iconText
                        i.devicon-nodejs-plain.colored
                        span NodeJS

                    div.iconText
                        i.devicon-tailwindcss-plain.colored 
                        span Tailwindcss

                    div.iconText
                        i.devicon-dotnetcore-plain.colored
                        span .Net

                    div.iconText
                        i.devicon-microsoftsqlserver-plain.colored
                        span Sql Server

                    div.iconText
                        i.devicon-express-original.colored
                        span Express

        div.Tools
            br
            p I have some favorites tools That I like to work with. 
            br
            p Talking about code editors mainly, like visual studio code and visual studio, Rider as well. TablePlus and Dbeaver to manager my databases.
            br