// Andelson Lopez
// navbar

link(rel='stylesheet', href='/css/navbar.css')
nav( class='navbar' )
  div( class='logo' )
    img( src='https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg')
    p Andelson Lopez
  div( class='links')
    a(href="/home", class='navlinks') Home
    a(href="/about", class='navlinks') About
    a(href="", class='navlinks') Techs
    a(href="", class='navlinks') Projects
    a(href="", class='navlinks') Blog
