// Andelson Lopez
// navbar

link(rel='stylesheet', href='/css/navbar.css')
nav( class='navbar' )
  div( class='logo' )
    img( src='https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg')
    p Andelson Lopez
  div( class='links')
    a(href="/", class='navlinks', id='HomepageLink') Home
    a(href="/about", class='navlinks', id="AboutLink") About
    a(href="/Technologies", class='navlinks', id="TechsLink") Techs
    a(href="", class='navlinks', id="ProjectsLink") Projects
    a(href="", class='navlinks', id="BlogLink") Blog
